// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.language-meta-script {
  .tool-panel {
  }
  .build-output {
    overflow-y: auto;
    height: 400px;
  }
  .mjsish-output {
    overflow-y: auto;
    max-height: 400px;
  }
}
